/* Import Notification Styles */

@import url('notification.css');

/* Variables */

:root {
    --form-bg-color: #fff;
    --form-border-color: #3b3b3b;
    --form-hover-color: #ff5a5a;
}

/* Icomoon Font Styling */
@font-face {
    font-family: 'icomoon';
    src: url('/Webspeech/fonts/icomoon.eot?iig9qv');
    src: url('/Webspeech/fonts/icomoon.eot?iig9qv#iefix') format('embedded-opentype'),
        url('/Webspeech/fonts/icomoon.ttf?iig9qv') format('truetype'),
        url('/Webspeech/fonts/icomoon.woff?iig9qv') format('woff'),
        url('/Webspeech/fonts/icomoon.svg?iig9qv#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
}

[class^='icon-'],
[class*=' icon-'] {
    font-family: 'icomoon' !important;
    speak: never;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-mic:before {
    content: '\e902';
}

/* Body Styles */
body {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5rem;
}

form {
    display: flex;
    align-items: end;
    justify-content: center;
    gap: 1rem;
    & input {
        background-color: var(--form-bg-color);
        border: none;
        border-bottom: 2px solid var(--form-border-color);
        padding: 0.5rem;
        transition: all 0.2s ease-in-out;
        &:focus-visible {
            outline: none;
        }
        &:hover {
            border-bottom: 2px solid var(--form-hover-color);
        }
    }
    & i {
        padding: 0.5rem;
        border-bottom: 2px solid var(--form-border-color);
        transition: all 0.2s ease-in-out;
        &:hover {
            cursor: pointer;
            color: var(--form-hover-color);
            border-bottom: 2px solid var(--form-hover-color);
        }
    }
}
